* {
    font-family: sans-serif;
}

body {
    background-color: black;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    
  
}

/*main container where it will
 contain the navigation bar, 
 title and main advertisement of the page*/
.main-container {
    
    height: 500px;
    background-color: white;
    display: grid;
    grid-template-columns: 3, 1fr;
    grid-template-rows: 85px 400px 70px;
}

/*page header container*/
.header-container {
    width: 100vw;
}

/*Navigation menu items formatting block*/
.nav-container {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.logo-type {
    width: 50px;
    height: 50px;
    padding-top: 15px;
    margin-left: 100px;


}

.list-menu {
    display: flex;
    gap: 45px;
    margin-top: 35px;



}

.link-nav {
    text-decoration: none;
    color: rgb(182, 178, 178);
    transition: 1s;
}

.link-nav:hover {
    color: black;
    cursor: pointer;
}


ul {

    list-style: none;

}

.nav-button {
    margin-right: 100px;
    margin-top: 20px;
    padding: 8px 25px;
    background-color: transparent;
    border: 2px solid rgb(182, 178, 178);
    transition: 1s;
    



}

.nav-button:hover {
    border-color: rgb(255, 183, 48);
    color: rgb(255, 183, 48);
    


}

/*end of navigation block style formatting*/


/*beginning of the main advertising style of the page*/
.flayer-principal {
     width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    


}

.img-car {
    width: 650px;
    margin-top: 100px;
    margin-right: 55px;

}

.box-text {
    font-size: 90px;
    margin-left: 100px;
}

.text-blue {

    color: blue;
}


.contact-flayer {
    width: 100%;
    overflow: hidden;
    background-color: rgb(182, 178, 178);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
}

.contacto-first {
    margin-left: 100px;
    margin-top: 10px;
}

.address-first{
    margin-left: 50px;
    margin-top: 10px;
}

/*final styling of my main layout*/

/*start using the experience container*/
.container-experience {
    
    height: 700px;
    margin: 20px;
    display: grid;
    grid-template-columns: repeat( minmax(100px, 1fr));
    gap: 10px;


}

.box1 {
    height: 10px;
    margin-bottom: 100px;
    color: white;
    font-size: 45px;
    margin-left: 90px;
    grid-column-start: 1;
    grid-column-end: 4;
}

.box2 {
    width: 370px;
    margin-left: 90px;
    background-image: url(/Car-Clean/photo-man-doing-car-polish-machine.jpg);
    background-size: cover;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 5;
}


.box3 {
    background-image: url(/Car-Clean/man-doing-car-polish.jpg);
    background-size: cover;
    width: 340px;
    height: 200px;
    margin-left: 80px;

}

.box4 {
    background-image: url(/Car-Clean/homem-polir.avif);
    background-size: cover;
    width: 340px;
    height: 200px;
    margin-left: 10px;
}

.box5 {
    font-size: 16px;
    width: 710px;
    margin-top: -30px;
    margin-left: 80px;
    color: white;
    grid-column-start: 2;
    grid-column-end: 4;

}

.box6 {
    width: 710px;
    margin-left: 80px;
    grid-column-start: 2;
    grid-column-end: 4;
}

.buttons-2 {
    background-color: transparent;
    border: 1px solid white;
    font-size: 16px;
    color: white;
    padding: 8px 25px;
    transition: 1s;

}

.buttons-2:hover {
    border-color: orange;
    color: orange;
    cursor: pointer;
}

/*end of experience style session*/

/*start of services style*/

.container-service {
    max-width: 100%;
    overflow: hidden;
    background-color: white;
    height: 700px;
    display: grid;
    grid-template-columns: repeat(minmax(100px, 1fr));

}

.service-1 {
    
    background-color: white;
    color: black;
    height: 20px;
    grid-column-start: 1;
    grid-column-end: 4;   
}
.title-service{
    font-size: 45px;
    color: rgb(4, 4, 48);
    margin-left: 500px;
    margin-top: 100px;
    

}
/*service-1 finish*/

/*start service-2*/
.service-2 {
    background-color: white;
    margin-top: 55px;
    height: 250px;
   

}
.container-service-2{
    
    margin-left: 40px;
    margin-top: 100px;
   
    

}
.buttons-3 {
    background-color: transparent;
    border: 1px solid black;
    font-size: 16px;
    color:black;
    padding: 8px 25px;
    transition: 1s;

}

.buttons-3:hover {
    border-color: orange;
    color: orange;
    cursor: pointer;
}

.service-3 {
    width: 350px;
    height: 380px;
    background-image: url(/Car-Clean/car-1.jpg);
    background-size: cover;
    margin-top: 50px;
    margin-left: 150px;

}

.service-4 {
    height: 380px;
    width: 350px;
    background-image: url(/Car-Clean/car-2.jpg);
    background-size: cover;
    margin-top: 50px;
    margin-left: 80px;
}
/*end of services style*/

/*start of services Before & After*/
.before-after{

}





/*responsive for mobile*/
@media screen and (max-width: 736px) and (max-width: 1170px) {

    .main-container{
        width: 100%;
        overflow: hidden;
    }
    .logo-type{
        display: none;
    }

    .list-menu{
        margin-left: -20px;
    }
    .nav-button{
        display: none;
    }
    .img-car {
        width: 250px;
        margin-right: 50px;
        margin-left: -20px;
       
    
    }
    
    .box-text {
        font-size: 30px;
        margin-left: 80px;
        margin-right: 50px;
    }
    
    .container-experience {
    
       
    
    }
    .box1 {
        margin-top: 20px;
        font-size: 23px;
        margin-left: 10px;
        
    }
    
    .box2 {
       
        width: 100px;
        margin-left: 10px;
        
        
    }
    
    
    .box3 {
        
        width: 150px;
        height: 120px;
        margin-left: -5px;
        
    
    }
    
    .box4 {
        
        width: 90px;
        height: 120px;
        margin-left: -35px;
        
        
       
        
    }
    
    .box5 {
        font-size: 16px;
        width: 200px;
        margin-top: -30px;
        margin-left: 10px;
        
    
    }
    
    .box6 {
        width: 200px;
        margin-left: 80px;
        
    }
    
    .buttons-2 {
        background-color: transparent;
        border: 1px solid white;
        font-size: 12px;
        color: white;
        padding: 8px 15px;
        transition: 1s;
    
    }
    
    .buttons-2:hover {
        border-color: orange;
        color: orange;
        cursor: pointer;
    }

    
    
    .service-1 {
        
        background-color: white;
        color: black;
        height: 20px;
        grid-column-start: 1;
        grid-column-end: 4;   
    }
    .title-service{
        font-size: 35px;
        color: rgb(4, 4, 48);
        margin-left: 20px;
        margin-top: 50px;
        
    
    }
    /*service-1 finish*/
    
    /*start service-2*/

    .service-2 {
        background-color: white;
        margin-top: 55px;
        
       
    

    }


    .container-service-2{
        
        font-size: 12px;
        margin-top: -100px;
    
    }

    .help-service{
        width: 180px;
        height: 80px;
        font-size: 16px;
        margin-right: -150px;
        margin-top: 155px;
        
    }
    .buttons-3 {
        font-size: 12px;
        padding: 4px 15px;
        margin-top: 200px;

        
    
    }
    
    
    .service-3 {
        width: 150px;
        height: 450px;
        margin-right: -50px;
    
    }
    
    .service-4 {
        display: none;
        
        
        
    }
    /*end of services style*/
    


}

