* {
    font-family: sans-serif;
}

body {
    background-color: black;
    margin: 0px;
    padding: 0px;
}

/*main container where it will
 contain the navigation bar, 
 title and main advertisement of the page*/
.main-container {
    
    height: 550px;
    background-color: white;
    display: grid;
    grid-template-columns: 3, 1fr;
    grid-template-rows: 85px 400px 65px;
}

/*page header container*/
.header-container {}

/*Navigation menu items formatting block*/
.nav-container {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-type {
    width: 50px;
    height: 50px;
    padding-top: 15px;
    margin-left: 100px;


}

.list-menu {
    display: flex;
    gap: 45px;
    margin-top: 35px;



}

.link-nav{
    text-decoration: none;
    color: rgb(182, 178, 178);
    transition: 1s;
}

.link-nav:hover{
    color: black;
    cursor: pointer;
}


ul {

    list-style: none;

}

.nav-button {
    margin-right: 100px;
    margin-top: 20px;
    padding: 8px 25px;
    background-color: transparent;
    border: 2px solid rgb(182, 178, 178);
    transition: 1s;



}

.nav-button:hover {
    border-color: rgb(255, 183, 48);
    color: rgb(255, 183, 48);
    cursor: pointer;

}

/*end of navigation block style formatting*/


/*beginning of the main advertising style of the page*/
.flayer-principal {
   
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;


}

.img-car {
    width: 650px;
    margin-top: 100px;
    margin-right: 55px;
    
}

.box-text {
    font-size: 90px;
    margin-left: 100px;
}
.text-blue{

    color:blue;
}


.contact-flayer {
    background-color: rgb(182, 178, 178);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2px;
    align-items: baseline;
}

.contacto-first{
    margin-left: 100px;
    margin-top: 10px;
}
/*final styling of my main layout*/

/*start using the experience container*/
.container-experience{
    
    height: 700px;
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px , 1fr));
    gap: 10px;
   

}
.box1{
    height: 10px;
    margin-bottom: 100px;
    color:  white;
    font-size: 45px;
    margin-left: 90px;
    grid-column-start: 1;
    grid-column-end: 4;
}
.box2{
    width: 370px;
    margin-left: 90px;
    background-image: url(/Car-Clean/photo-man-doing-car-polish-machine.jpg);
   background-size: cover;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 5;
}


.box3{
    background-image: url(/Car-Clean/man-doing-car-polish.jpg);
    background-size: cover;
    width: 340px;
    height: 200px;
    margin-left: 80px;
    
}
.box4{
    background-image: url(/Car-Clean/homem-polir.avif);
    background-size: cover;
    width: 340px;
    height: 200px;
    margin-left: 10px;
}
.box5{
    font-size: 16px;
    width: 710px;
    margin-top: -30px;
    margin-left: 80px;
    color:  white;
    grid-column-start: 2;
    grid-column-end: 4;

}
.box6{
    width: 710px;
    margin-left: 80px;
    grid-column-start: 2;
    grid-column-end: 4;
}

.buttons-2{
    background-color: transparent;
    border: 1px solid white;
    font-size: 16px;
    color: white;
    padding: 8px 25px;
    transition: 1s;
    
}

.buttons-2:hover{
    border-color: orange;
    color: orange;
    cursor: pointer;
}
